:root {
	--background-color-primary:hsl(0, 0%, 100%);
	--background-color-secondary:hsl(0, 0%, 98%);
	--text-primary-color:hsl(200, 15%, 8%);
	--text-secondary-color:hsl(0, 0%, 52%);
}

:root.dark-theme {
	--background-color-primary:hsl(207, 26%, 17%);
	--background-color-secondary:hsl(209, 23%, 22%);
	--text-primary-color:hsl(0, 0%, 100%);
	--text-secondary-color:hsl(0, 0%, 52%);
}

